.theTable{
    display:table; 
    width:100%; /* or whatever width for your table*/
}
.theHeader{
/*    height: 100px; 
    padding: 10px 0;*/
    display: flex;
    text-align: center;
    justify-content: center;
}

.theRow{display:table-row}
.theCell{
    display:table-cell;
    padding:0px 2px; /* just some padding, if needed*/
    white-space: break; /*pre; /* this will avoid line breaks*/
/*    border:1px solid black; */
    border: none;
}
.leftCell {
    white-space: pre;
}
.bigCell{
    width:100%; /* this will shrink other cells */
}
